html{
    scroll-behavior: smooth;
}


body{
    overflow-x: hidden;
}

header {
    background-color: rgba(99, 49, 2, 0.712);
    display: flex;
}
.navbar-brand img{
    height: 3rem;
}

#gameDive{
    width: 100%;
    height: 100%;
}
.jumbotron img{
    display: block;
    margin-left: 40vw;
    margin-right: auto;
}
#me{
    display: block;
    margin-left: 40vw;
    margin-right: auto;
}
#miner{
    margin-left: 38vw;

    width:25%;
}

#poster{
    margin-left: 32vw;
    width:40%;
}

#level{
    margin-left: 32vw;
    width:40%;
}



#filter{
    margin-left: 32vw;
    width:40%;
}

#store{
    margin-left: 32vw;
    width:40%;
}

#tradeShow{
    width:40%;
    margin-left: 32vw;
}

#safety{
    margin-left: 32vw;
    width:40%;
}

#theGame{

    height:42vw;
    width:70vw;
    
}

#name{

    font-weight: bold;
    font-size: 500%;
    color: rgb(124, 90, 26);
}


.mask{
    background-color: rgba(255, 255, 255, 0);
    z-index: -1;
}

.navbar-nav { 
    width: 100%;
    text-align: center;
}
.navbar-nav a{
    color: rgb(255, 166, 0);
    font-weight:bold;
    font-size: 110%;
    padding-left: 3%;
    padding-right:3%;

}
.navbar-nav a:hover{
    color:white;
    text-decoration: none;
}


.video-background{
    position: relative;
    width: 100%;
    min-height: 100vh;
}



